.portada {
    background: url(../images/portada.jpg) no-repeat center center fixed;
    padding-bottom: 400px;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.logo img {
    width: 100px;
    height: 100px;
    margin-top: -20px;
    margin-bottom: -30px;
    margin-left: -20px;
}

.expansor {
    margin-top: 1000px;
    margin-bottom: 1000px;
}

.card {
    text-align: center;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

.card img {
    width: 100px;
    height: 100px;
}

.tienda {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}


.filtros {
    text-align: left;
}

.filtros a {
    color: #0f0c0f;
    line-height: 0.5;
    text-align: left;
}

.articulos {
    text-align: center;
}

.articulos .row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu-usuario {

    margin-top: 100px;
    margin-bottom: 100px;
}

.menu-usuario .card img {
    
    height: 200px;
    width: 200px;
}

.articulo-alquilar .row .col-sm-2 {
    padding-left: 1px;
}

.articulo-alquilar {
    margin-top: 55px;
}

.publicar-articulo {
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 10px;

}

.publicar-articulo input, select, button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.publicar-articulo img {
    margin: 20px;
}

.fotos-articulo {
    text-align: center;
}

.footer{
    background-color: #0f0c0f;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}